body {
  position: relative;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.3em;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
}
