.hide {
  display: none !important;
}

/* Flex utils */
.d-flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.d-flex-row-reverse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-no-shrink * {
  flex-shrink: 0;
}